{% extends 'main/base.html' %}
{% load static %}

{% block title %}Kider - Preschool Website{% endblock %}

{% block content %}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">

        {% for item in carousels %}
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{{ item.image.url }}" alt="">

            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(0, 0, 0, .2);">

                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">

                            <h1 class="display-2 text-white animated slideInDown mb-4">
                                {{ item.title }}
                            </h1>

                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                {{ item.description }}
                            </p>

                            {% if item.button1_text %}
                            <a href="{{ item.button1_link }}"
                               class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">
                               {{ item.button1_text }}
                            </a>
                            {% endif %}

                            {% if item.button2_text %}
                            <a href="{{ item.button2_link }}"
                               class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">
                               {{ item.button2_text }}
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>
<!-- Carousel End -->



<!-- Về HAHA ART -->
{% include "about/components/introduce.html" with about=about %}

<!-- cau chuyen thuong hieu -->
{% include "brand_story/components/brand_story_section.html" with story=story %}
<!-- Quy chế đào tạo -->
{% include 'regulation/components/regulation.html' %}





<!-- giá trị lớp học -->
{% include 'value/components/value.html' %}

<!-- giá trị lớp học End -->

<!-- Classes Start -->
{% include "classes/components/classess_section.html" %}
<!-- Classes End


<!-- Classes End -->


<!-- Appointment Start -->
{% include 'classes/components/appointment.html' %}
<!-- Appointment End -->


{% include "team/components/team_section.html" %}


{% include "products/components/product_carousel.html" %}

{% endblock %}