{% extends 'main/base.html' %}
{% load static %}

{% block title %}About Us - Kider Preschool{% endblock %}

{% block content %}
{% include "components/page_header.html" with title='Về chúng tôi' header_image='img/img_5.png' %}

<!-- About Start -->
{% include "about/components/introduce.html" %}
<!-- About End -->


<!-- Call To Action Start -->
{% include 'regulation/components/regulation.html' %}
<!-- Call To Action End -->

{% include 'about/components/different.html' %}

<!-- Team Start -->
{% include 'team/components/team_section.html' %}
<!-- Team End -->

{% endblock %}