{% extends 'main/base.html' %}
{% load static %}

{% block title %}About Us - Kider Preschool{% endblock %}

{% block content %}

{% include "components/page_header.html" with title='About Us' %}
<!-- About Start -->
{% include "about/components/introduce.html" %}
<!-- About End -->


<!-- Call To Action Start -->
{% include 'regulation/components/regulation.html' %}
<!-- Call To Action End -->


<!-- Team Start -->
{% include 'team/components/team_section.html' %}
<!-- Team End -->

{% endblock %}